.width45    {width: 45px;}
.width50    {width: 50px;}
.width70    {width: 70px;}
.width75    {width: 75px;}
.width80    {width: 80px;}
.width96	{width: 96px;}
.width100   {width: 100px;}
.width120   {width: 120px;}
.width131	{width: 131px;}
.width135   {width: 135px;}
.width150   {width: 150px;}
.width175   {width: 175px;}
.width200   {width: 200px;}
.width240   {width: 240px;}
.width300   {width: 300px;}
.width450	{width: 450px;}
.width460	{width: 460px;}
.width500	{width: 500px !important;}
.width960 {width: 960px;}
.height17	{height: 17px;}
.height100	{height: 100px;}
.height150	{height: 150px;}
.height200	{height: 200px;}
.height300	{height: 300px;}

.noblock {display: inline !important; }
.apartments_id_column, .id_column { width: 25px; }
.apartments_status_column { width: 60px;}
.infopages_status_column { width: 50px; }
.infopages_buttons_column { width:88px; /*text-align:right !important;*/ }
.infopages_arrow_image_up { padding-left:4px; padding-right:4px; }
.infopages_arrow_image_down { padding-left:4px; padding-right:4px; }
.infopages_arrow_image_fast_up { padding-left:4px; padding-right:4px;}
.infopages_arrow_image_fast_down { padding-left:4px; padding-right:4px;}
.referencevalues_category_column { width:80px;}

.min-size-fancy { min-height: 110px; min-width: 225px;}
.hidden { display: none;}

/*.grid-view table.items tr.odd {	background: #F8F8F8 !important;}
.grid-view table.items tr:hover { background: #dcecff !important; text-decoration: none;}
.grid-view table.items th { background: url("../images/design/active.gif") repeat-x scroll 0 0 transparent !important; color: #FFFFFF !important; min-height: 27px !important; margin: 0 2px !important; padding: 4px 8px 4px !important; background-color: #274f8c !important;}
.grid-view table.items th, .grid-view table.items td { border: 1px solid white; }
.grid-view { padding-top: 5px !important; }*/

div.noscript {color: #FF0000; font-size: 20px; text-align: center;}
.gmap-marker-adlink, .gmap-marker-adress  {font-size: 12px;}
.adminTopNav li {margin: 0 5px 0 0 !important;}

div.translate_button{ float: right; padding-left: 3px; }
div.copylang_button{ float: right; }

.editor_textarea { width: 950px; }

.language-select { float: right; margin-top: 2px; }

.flag-selector { margin: 2px; }

.status_green { color: #264409; }
.status_red { color: #8a1f11; }

.clear { clear: both; }
.clear5 { clear: both; margin-bottom: 5px; }

div.apartment-description-item label { display: inline !important;}
div.apartment-description-item ul { padding-top: 5px !important;}
ul.apartment-description-ul {	color: #333399;	list-style-position: outside; list-style-type: square; padding-left: 17px; padding-top: 5px; }
ul.apartment-description-ul li{ margin-top: 5px; }
ul.apartment-description-ul li > span{ color: #000000;}

div.column1 {}
div.column2 { width: 460px; float: left;}
div.column3 { width: 306px; float: left;}

.yiiTab { padding-top: 5px !important; padding-bottom: 5px !important; }
.yiiTab ul.tabs { padding: 0 !important; }

.pagination { float: right !important;}

.buttons { padding-top: 10px; }

.admMenuSeondLevel {padding-left: 30px !important;}

.boldText {
	font-weight: bold !important;
}

img[src^="http://maps.gstatic.com/"] {
	max-width: none;
}
div#messages {
    background: none repeat scroll 0 0 transparent !important;
    margin: 0 !important;
    padding: 8px !important;
    position: fixed !important;
    right: 0 !important;
    top: 40px !important;
    width: 300px !important;
    z-index: 10 !important;
}
.bootnavbar-delimiter {clear: both; padding-top: 60px;}

.center { text-align: center !important;}

/*from user*/
.h1-ap-title { font:22px/18px arial; color:#000000; margin-bottom: 8px; padding:0; }

.floatleft {
    float: left !important;
}

.pdficon {
    position: relative;
    top: -14px;
}

.viewapartment-main-photo {
    float: left;
    margin: 0 15px 0 0;
    padding-top: 15px;
}

.viewapartment-description-top {
    padding: 15px 0 0 10px;
	float: left;
	width: 515px;
}

.viewapartment-description-top p {
    margin-bottom: 2px !important;
}

p.cost {
    color: #000000;
    font: 20px/18px 'Roboto', Arial, sans-serif;
    margin: 8px 0 0;
    padding: 0 0 4px;
}

.padding-bottom10 { padding-bottom: 10px !important; }
.padding-top10 { padding-top: 10px !important; }

div.column1 {}
div.column2 { width: 460px; float: left;}
div.column3 { width: 306px; float: left;}

.viewapartment-subheader {
    /*background: url("../images/design/active.gif") repeat-x scroll 0 0 transparent;*/
    color: #204782;
    font: 15px 'Roboto', Arial, sans-serif; height: 20px;margin: 0 2px;  padding: 3px 8px 2px;
    font-weight: bold;

}

#ymap, #gmap, #osmap {
	margin-left: 30px;
}
div.flash-error, div.flash-notice, div.flash-success{ clear:both; padding:10px; margin:20px 0; border:2px solid #ddd;}
div.flash-error{ background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4;}
div.flash-notice, div.flash-help{ background:#FFF6BF; color:#514721; border-color:#FFD324;}
div.flash-success{background:#E6EFC2; color:#264409;    border-color:#C6D880;}
div.flash-error a { color:#8a1f11; }
div.flash-notice, div.flash-help a{ color:#514721; }
div.flash-success a{ color:#264409;}

ul.no-disk {list-style: none; margin: 0px 0px 9px 0px;}
input[type="file"] {
    height: 23px !important;
    line-height: 28px;
}

#top .navbar-fixed-top .container {width: 100% !important;}
.editable_select select {
  width: 65px !important;
}

.nav > li > a.short {
  width: 80%;
  display: inline-block;
}
.nav > li > a.icon {
  margin-left: 5%;
  background-color: transparent;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
}
.nav > li.active > a.icon {
  background-color: green;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
	background: #FEE;
	border-color: #C00;
}

div.form .errorMessage
{
	color: red;
}
.redactor_file_link {
    padding-left: 20px;
}

.redactor_file_ico_avi   { background: url(../images/fileicons/avi.png) no-repeat; }
.redactor_file_ico_csv   { background: url(../images/fileicons/csv.png) no-repeat; }
.redactor_file_ico_doc   { background: url(../images/fileicons/doc.png) no-repeat; }
.redactor_file_ico_gif   { background: url(../images/fileicons/gif.png) no-repeat; }
.redactor_file_ico_html   { background: url(../images/fileicons/html.png) no-repeat; }
.redactor_file_ico_jpg   { background: url(../images/fileicons/jpg.png) no-repeat; }
.redactor_file_ico_mov  { background: url(../images/fileicons/mov.png) no-repeat; }
.redactor_file_ico_other  { background: url(../images/fileicons/other.png) no-repeat; }
.redactor_file_ico_pdf   { background: url(../images/fileicons/pdf.png) no-repeat; }
.redactor_file_ico_png   { background: url(../images/fileicons/png.png) no-repeat; }
.redactor_file_ico_ppt   { background: url(../images/fileicons/ppt.png) no-repeat; }
.redactor_file_ico_rar   { background: url(../images/fileicons/rar.png) no-repeat; }
.redactor_file_ico_rtf   { background: url(../images/fileicons/rtf.png) no-repeat; }
.redactor_file_ico_txt   { background: url(../images/fileicons/txt.png) no-repeat; }
.redactor_file_ico_xls   { background: url(../images/fileicons/xls.png) no-repeat; }
.redactor_file_ico_zip   { background: url(../images/fileicons/zip.png) no-repeat; }

.gridview-control-line img {vertical-align: top;}
.gridview-control-line select, .gridview-control-line input[type="submit"] {margin-bottom: 0;}
#loading{ position: fixed; top: 40px; left: 0; z-index: 5000; background-color: #3C69AC; font-size: 100%; color: #FFFFFF; padding: 5px;}

.help-inline{ color: #ff0000 !important; }

#comments-list { 	padding-top: 10px; }
.comment {padding: 2px 10px; background: #ffffff; margin: 3px 0; border: 1px solid #DDEBFF;}
.comment .body { margin: 10px 0; overflow:hidden;}
.comment .name {	margin: 5px 0; padding: 0 0 3px; border-bottom: 1px solid #DDD;}
.comment .date { color: #888; font-size: 0.8em; }
.comment .pending { color:red;}
#comments h3 { color: #000000 !important;}

#ymap, #gmap, #osmap, #gmap > #googleMap { /*width: 670px;*/ height: 580px; }
#googleMap img{ max-width: none; }
div.news-items { padding-bottom: 30px;}
div.news-items p {padding: 0 !important; margin: 0 0 7px !important;}
font.date	{font:11px/13px arial; color:#000;}
font.title { color: #000000; font: bold 14px/20px arial; }

.white_noborder { background-color: #ffffff !important;	border: none !important; }

.grid-view {
	position: relative;
	top: -15px;
	padding-top: 0 !important;
	margin-bottom: -25px;
}

.alert {
	margin-bottom: 30px !important;
}

.brand {
	padding: 1px 20px !important;
	margin-left: 0 !important;
}
.navbar-fixed-top .navbar-inner .nav > li > a {
    padding: 12px 10px !important;
}
.seo-page-div {padding-top: 50px;}

#ymap img, #osmap img {
    max-width: none;
}
.articles-index {padding-bottom: 15px;}
.floatleft-title {	float: left !important; position: relative; top: -10px;}
.stat-views {font-size: 12px; color: #808080;}
.ratingview-title {float:right; position: relative; left: 15px;}
.div-title {float: left;}

.div-pdf-fix {
    position: relative;
    top: 10px;
}

div.big-special-offer {
    background: url("../images/star_rubber_left.png") no-repeat scroll left top #DDEBFF;
    min-height: 46px;
    width: 100%;
}
div.big-special-offer h4 {
    padding: 13px 0 0 50px !important;
}
div.big-special-offer p {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.floatright {
	float: right !important;
}

/* rewrite bootstrap styles */
body, label, input, button, select, textarea {font-size: 13px;}
input[type="checkbox"].s-categorybox {margin: 3px 0;}

.apartment_type {
	background-color: rgba(7, 10, 11, 0.6);
	background-image: -moz-linear-gradient(center top , rgba(67, 60, 61, 0.6) 0%, rgba(7, 10, 11, 0.6) 100%);
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 5px 5px;
	font-size: 11px;
	font-weight: bold;
	margin: 3px;
	padding: 1px 8px;
	position: absolute;
	text-align: center;
	list-style: none outside none;
}

.qrcode {
	position: absolute;
	right: 20px;
	top:80px;
}
.qrcode_spec {
	position: absolute;
	right: 20px;
	top:80px;
}

.relative {
	position: relative;
}


#waermarkPositionTemplate {
	width: 250px;
	height: 250px;
	background-image: url(../images/default/empty-photo-template.png);
}

.tab-pane {
	display: none;;
}

.tab-pane.active{
	display: block;
}

div.paidServiceRow {
	padding: 5px;
	margin: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 5px 5px;
}

div.service_not_active {
	background-color: #DDEBFF;
}

.images-area {
    clear: both;
    margin: 5px 0;
}

.image-area-item {
    max-width: 150px;
    height: 100px;
    float:left;
    margin: 5px 5px 5px 0;
}
div.paid_row,  div.paid_row_no{
    font-size: 11px;
}
div.paid_row span, div.paid_row_no span{
    font-weight: normal;
}
div.paid_row span.valid_till, div.paid_row_no span.valid_till{
    font-weight: normal;
    display: block;
}
div.paid_row span.display_block, div.paid_row_no span.display_block{
    display: block;
}

div.no-mrg input[type="checkbox"] {
    margin: 0;
}

.button-column {
	min-width:110px;
}

.video-block {padding: 5px 0 20px 0;}
.video-html-block {padding-bottom: 10px;}
.video-file-block {padding-bottom: 10px;}
.manage-video-block {padding: 15px 0;}
.manage-video-item {padding-bottom: 10px;}

#update_overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #CCCCCC;
    z-index: 9999;
    display: none;
    opacity: 0.5;
}

#update_overlay p {
    text-align: center;
    padding-top: 20px;
    font-size: 110%;
    font-weight: bold;
}


a.apt_btn {
    background: url("../images/design/active.gif") repeat-x scroll 0 0 transparent;
    color: #FFFFFF !important;
    font: 14px 'Roboto', Arial, sans-serif;
    margin: 0 10px 0 0;
    padding: 6px 20px;
    text-decoration: none !important;
    float: left;
    display: block;
    text-align: center;
}

.info-tabs .ui-tabs-nav .ui-state-active a{
    color: #204782 !important;
}

.info-tabs .ui-tabs-nav .ui-state-active {
    background: #fff !important;
}

.info-tabs .ui-tabs-nav .ui-state-default a {
    color: #fff;
    padding: 5px 10px;
}

.info-tabs .ui-tabs-nav .ui-state-default {
    background: url("../images/design/active.gif") repeat-x scroll 0 0 transparent;
    margin-right: 10px;
    border: 1px solid #204782;
}

.ap-descr {
    margin-bottom: 5px;
}

.ap-descr dt {
    float: left;
    font-weight:bold;
    margin-right:10px;
    padding: 0 5px 5px 5px;
    width: 250px;
}

.ap-descr dd {
    padding: 0 5px 5px 5px;
    margin-left: 265px;
}

.info-tabs .ui-tabs-nav {
    background: #214883;
}

.clear-left {
    clear: left;
}
.overflow-auto {
    overflow: auto;
}

.min-fancy-width { min-width: 700px; }
.max-fancy-width { max-width: 750px; }

.min-fancy-width .row {
    margin-left: 0 !important;
}

.ui-tooltip {
    display: none;
}

.ap-descr {
    font-size: 13px !important;
}

.ap-descr dt {
    float: left;
    font-weight:bold;
    margin-right:10px;
    padding: 0 5px 5px 5px;
    width: 280px;
}

.ap-descr dd {
    padding: 0 5px 5px 5px;
    margin-left: 295px;
}

.viewapartment-description {
    margin-top: 5px;
}

.form_tip {
    font-size: 10px;
}

.news-image {
	float: left;
	padding: 10px 0px;
}

.news-image-list {
	float: left;
	padding: 5px 10px 10px 0px;
}

.view-video-file {
	display:block;
	width:560px;
	height:340px;
}


/* layout */
.panorama-view {padding: 10px 0;}
.panorama,.panorama-view{width:890px;height:500px;overflow:hidden}
.panorama,.panorama-container{position:relative}
.panorama-container img{height:100%;position:absolute;top:0}
.panorama .info,.panorama-view .area{position:absolute;display:block}
.panorama .info{right:10px;bottom:10px}

/* style */
.panorama-view{cursor:pointer;}
.panorama-view.grab{cursor:pointer;}
.panorama .info{padding:6px;opacity:0.4;background-color:#000;color:#fff;font:11px bold 'Roboto', Arial, sans-serif;text-decoration:none}
.panorama .info:hover{opacity:0.6}
.panorama-view .area{opacity:0.2;background-color:#000;cursor:pointer}
.panorama-view .area:hover{opacity:0.4}
.panorama-view img{user-select:none;-o-user-select:none;-moz-user-select:none;-webkit-user-select:none)}
.panorama-swf {padding: 10px 0;}

.fields_for_search { border: #CCC 1px dotted; padding: 0 10px; }

#sortable1, #sortable2 { list-style-type: none; float: left; }
#sortable1 li, #sortable2 li { font-size: 1.2em; padding: 3px; margin: 3px; }
.connectedSortable {
    border: 1px solid #CCCCCC;
    margin: 0;
    min-height: 270px;
    min-width: 309px;
    padding: 7px;
}
.sortBlue{ background-color: #006dcc; }

#date_end_activity, #set_period { padding-bottom: 10px; }


.user-ava {
    width: 90px;
    height: 90px;
    float: left;
    padding-right: 10px;
}
.user-ava-crop {
    display: inline-block;
    width: 83px;
    height: 83px;
    overflow: hidden;
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    outline: 1px solid #CCCCCC;
    /*margin: 10px;*/
}
.user-ava-crop img {
    width: 83px;
    border: none;
    margin: 0;
    padding: 0;
}

.apartment-user-info {
    float: right;
    width: 300px;
    position: relative;
}

.user-ava-username {
    text-align: center;
}

.user-info-ava {
    width: 90px;
    float: left;
}

.user-info-right {
    width: 180px;
    position: absolute;
    right: 15px;
}

ul.user-info-ul li {
    list-style: none;
    font-size: 12px;
}

#owner-phone {
    left: 40px;
    position: absolute;
}

.errorSummary {
    background: none repeat scroll 0 0 #FFEEEE;
    border: 2px solid #CC0000;
    font-size: 0.9em;
    margin: 0 0 20px;
    padding: 7px 7px 12px;
}

#gmap-panorama {
    height: 500px;
    width: 100%;
    padding: 0px;
    margin: 30px 0 0 0;
}
#gmap-panorama img {
    max-width: none;
}
#gmap-panorama label {
    width: auto;
    display:inline;
}
.news-image {
	text-align: center;
}

.table select {
  width: auto;
}
tr.special td {
  background-color: #FFE9BE !important;
}
